@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

* {
    background-color: #262626;
    color: white;
    font-family: 'Titan One', cursive;
    text-align: center;
}
h1 {
    font-size: 50px;
    background: linear-gradient(45deg,#FF0000,#FF7F00,#FFFF00,#00FF00,#0000FF,#04F26C,#6500FF,#04F297);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;

    -webkit-animation: rainbowanim 10s ease infinite;
    -moz-animation: rainbowanim 10s ease infinite;
    animation: rainbowanim 10s ease infinite;
  }

  @-webkit-keyframes rainbowanim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes rainbowanim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes rainbowanim { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
h2 {
    font-size: 30px;
    font-family: 'Mochiy Pop One', sans-serif;
}
h3 {
    font-size: 15px;
    font-family: 'Mochiy Pop One', sans-serif;
}
h4 {
    font-size: 20px;
    font-family: 'Mochiy Pop One', sans-serif;
}
u {
    color: red;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 20px;
}
button {
    border: 0px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Mochiy Pop One', sans-serif; 
}
.position {
    font-size: 1em;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 5px;
    padding: 3px;
}
.copyright {
    background-color: #00000055;
    padding: 3px;
    display: inline-block;
    margin: auto;
    font-size: 20px
}